<!-- start: OFF RIGHT SIDEBAR TABSET -->
<tabset class="sidebar-wrapper" justified="true">
	<!-- start: TAB USER -->
	<tab>
		<tab-heading>
			<i class="ti-comments"></i>
		</tab-heading>
		<div id="users" toggleable active-class="chat-open">
			<div class="users-list">
				<div class="sidebar-content" perfect-scrollbar wheel-propagation="false" suppress-scroll-x="true">
					<h5 class="sidebar-title" translate="offsidebar.chat.ONLINE">On-line</h5>
					<ul class="media-list">
						<li class="media">
							<a ct-toggle="on" target="users" href>
								<i class="fa fa-circle status-online"></i>
								<img alt="..." src="assets/avatar-2.jpg" class="media-object">
								<div class="media-body">
									<h4 class="media-heading">Nicole Bell</h4>
									<span> Content Designer </span>
								</div>
							</a>
						</li>
						<li class="media">
							<a ct-toggle="on" target="users" href>
								<div class="user-label">
									<span class="label label-success">3</span>
								</div>
								<i class="fa fa-circle status-online"></i>
								<img alt="..." src="assets/avatar-3.jpg" class="media-object">
								<div class="media-body">
									<h4 class="media-heading">Steven Thompson</h4>
									<span> Visual Designer </span>
								</div>
							</a>
						</li>
						<li class="media">
							<a ct-toggle="on" target="users" href>
								<i class="fa fa-circle status-online"></i>
								<img alt="..." src="assets/avatar-4.jpg" class="media-object">
								<div class="media-body">
									<h4 class="media-heading">Ella Patterson</h4>
									<span> Web Editor </span>
								</div>
							</a>
						</li>
						<li class="media">
							<a ct-toggle="on" target="users" href>
								<i class="fa fa-circle status-online"></i>
								<img alt="..." src="assets/avatar-5.jpg" class="media-object">
								<div class="media-body">
									<h4 class="media-heading">Kenneth Ross</h4>
									<span> Senior Designer </span>
								</div>
							</a>
						</li>
					</ul>
					<h5 class="sidebar-title" translate="offsidebar.chat.OFFLINE">Off-line</h5>
					<ul class="media-list">
						<li class="media">
							<a ct-toggle="on" target="users" href>
								<img alt="..." src="assets/avatar-6.jpg" class="media-object">
								<div class="media-body">
									<h4 class="media-heading">Nicole Bell</h4>
									<span> Content Designer </span>
								</div>
							</a>
						</li>
						<li class="media">
							<a ct-toggle="on" target="users" href>
								<div class="user-label">
									<span class="label label-success">3</span>
								</div>
								<img alt="..." src="assets/avatar-7.jpg" class="media-object">
								<div class="media-body">
									<h4 class="media-heading">Steven Thompson</h4>
									<span> Visual Designer </span>
								</div>
							</a>
						</li>
						<li class="media">
							<a ct-toggle="on" target="users" href>
								<img alt="..." src="assets/avatar-8.jpg" class="media-object">
								<div class="media-body">
									<h4 class="media-heading">Ella Patterson</h4>
									<span> Web Editor </span>
								</div>
							</a>
						</li>
						<li class="media">
							<a ct-toggle="on" target="users" href>
								<img alt="..." src="assets/avatar-9.jpg" class="media-object">
								<div class="media-body">
									<h4 class="media-heading">Kenneth Ross</h4>
									<span> Senior Designer </span>
								</div>
							</a>
						</li>
						<li class="media">
							<a ct-toggle="on" target="users" href>
								<img alt="..." src="assets/avatar-10.jpg" class="media-object">
								<div class="media-body">
									<h4 class="media-heading">Ella Patterson</h4>
									<span> Web Editor </span>
								</div>
							</a>
						</li>
						<li class="media">
							<a ct-toggle="on" target="users" href>
								<img alt="..." src="assets/avatar-5.jpg" class="media-object">
								<div class="media-body">
									<h4 class="media-heading">Kenneth Ross</h4>
									<span> Senior Designer </span>
								</div>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="user-chat">
				<div class="chat-content">
					<div class="sidebar-content" perfect-scrollbar wheel-propagation="false" suppress-scroll-x="true">
						<a class="sidebar-back pull-left" href="#" ct-toggle="off" target="users"><i class="ti-angle-left"></i> <span translate="offsidebar.chat.BACK">Back</span></a>
						<ol class="discussion">
							<li class="messages-date">
								Sunday, Feb 9, 12:58
							</li>
							<li class="self">
								<div class="message">
									<div class="message-name">
										Peter Clark
									</div>
									<div class="message-text">
										Hi, Nicole
									</div>
									<div class="message-avatar">
										<img src="assets/avatar-1.jpg" alt="">
									</div>
								</div>
								<div class="message">
									<div class="message-name">
										Nicole Bell
									</div>
									<div class="message-text">
										How are you?
									</div>
									<div class="message-avatar">
										<img src="assets/avatar-1.jpg" alt="">
									</div>
								</div>
							</li>
							<li class="other">
								<div class="message">
									<div class="message-name">
										Nicole Bell
									</div>
									<div class="message-text">
										Hi, i am good
									</div>
									<div class="message-avatar">
										<img src="assets/avatar-2.jpg" alt="">
									</div>
								</div>
							</li>
							<li class="self">
								<div class="message">
									<div class="message-name">
										Peter Clark
									</div>
									<div class="message-text">
										Glad to see you ;)
									</div>
									<div class="message-avatar">
										<img src="assets/avatar-1.jpg" alt="">
									</div>
								</div>
							</li>
							<li class="messages-date">
								Sunday, Feb 9, 13:10
							</li>
							<li class="other">
								<div class="message">
									<div class="message-name">
										Nicole Bell
									</div>
									<div class="message-text">
										What do you think about my new Dashboard?
									</div>
									<div class="message-avatar">
										<img src="assets/avatar-2.jpg" alt="">
									</div>
								</div>
							</li>
							<li class="messages-date">
								Sunday, Feb 9, 15:28
							</li>
							<li class="other">
								<div class="message">
									<div class="message-name">
										Nicole Bell
									</div>
									<div class="message-text">
										Alo...
									</div>
									<div class="message-avatar">
										<img src="assets/avatar-2.jpg" alt="">
									</div>
								</div>
								<div class="message">
									<div class="message-name">
										Nicole Bell
									</div>
									<div class="message-text">
										Are you there?
									</div>
									<div class="message-avatar">
										<img src="assets/avatar-2.jpg" alt="">
									</div>
								</div>
							</li>
							<li class="self">
								<div class="message">
									<div class="message-name">
										Peter Clark
									</div>
									<div class="message-text">
										Hi, i am here
									</div>
									<div class="message-avatar">
										<img src="assets/avatar-1.jpg" alt="">
									</div>
								</div>
								<div class="message">
									<div class="message-name">
										Nicole Bell
									</div>
									<div class="message-text">
										Your Dashboard is great
									</div>
									<div class="message-avatar">
										<img src="assets/avatar-1.jpg" alt="">
									</div>
								</div>
							</li>
							<li class="messages-date">
								Friday, Feb 7, 23:39
							</li>
							<li class="other">
								<div class="message">
									<div class="message-name">
										Nicole Bell
									</div>
									<div class="message-text">
										How does the binding and digesting work in AngularJS?, Peter?
									</div>
									<div class="message-avatar">
										<img src="assets/avatar-2.jpg" alt="">
									</div>
								</div>
							</li>
							<li class="self">
								<div class="message">
									<div class="message-name">
										Peter Clark
									</div>
									<div class="message-text">
										oh that's your question?
									</div>
									<div class="message-avatar">
										<img src="assets/avatar-1.jpg" alt="">
									</div>
								</div>
								<div class="message">
									<div class="message-name">
										Peter Clark
									</div>
									<div class="message-text">
										little reduntant, no?
									</div>
									<div class="message-avatar">
										<img src="assets/avatar-1.jpg" alt="">
									</div>
								</div>
								<div class="message">
									<div class="message-name">
										Peter Clark
									</div>
									<div class="message-text">
										literally we get the question daily
									</div>
									<div class="message-avatar">
										<img src="assets/avatar-1.jpg" alt="">
									</div>
								</div>
							</li>
							<li class="other">
								<div class="message">
									<div class="message-name">
										Nicole Bell
									</div>
									<div class="message-text">
										I know. I, however, am not a nerd, and want to know
									</div>
									<div class="message-avatar">
										<img src="assets/avatar-2.jpg" alt="">
									</div>
								</div>
							</li>
							<li class="self">
								<div class="message">
									<div class="message-name">
										Peter Clark
									</div>
									<div class="message-text">
										for this type of question, wouldn't it be better to try Google?
									</div>
									<div class="message-avatar">
										<img src="assets/avatar-1.jpg" alt="">
									</div>
								</div>
							</li>
							<li class="other">
								<div class="message">
									<div class="message-name">
										Nicole Bell
									</div>
									<div class="message-text">
										Lucky for us :)
									</div>
									<div class="message-avatar">
										<img src="assets/avatar-2.jpg" alt="">
									</div>
								</div>
							</li>
						</ol>
					</div>
				</div>
				<div class="message-bar">
					<div class="message-inner">
						<a class="link icon-only" href="#"><i class="fa fa-camera"></i></a>
						<div class="message-area">
							<textarea placeholder="{{ 'offsidebar.chat.PLACEHOLDER' | translate }}"></textarea>
						</div>
						<a class="link" href="#" translate="offsidebar.chat.SEND">
							Send
						</a>
					</div>
				</div>
			</div>
		</div>
	</tab>
	<!-- end: TAB USER -->
	<!-- start: TAB FAVORITES -->
	<tab>
		<tab-heading>
			<i class="ti-heart"></i>
		</tab-heading>
		<div class="tab-pane" id="favorites">
			<div class="users-list">
				<div class="sidebar-content" perfect-scrollbar wheel-propagation="false" suppress-scroll-x="true">
					<h5 class="sidebar-title" translate="offsidebar.favorites.MAIN">Favorites</h5>
					<ul class="media-list">
						<li class="media">
							<a href="#">
								<img alt="..." src="assets/avatar-7.jpg" class="media-object">
								<div class="media-body">
									<h4 class="media-heading">Nicole Bell</h4>
									<span> Content Designer </span>
								</div>
							</a>
						</li>
						<li class="media">
							<a href="#">
								<div class="user-label">
									<span class="label label-success">3</span>
								</div>
								<img alt="..." src="assets/avatar-6.jpg" class="media-object">
								<div class="media-body">
									<h4 class="media-heading">Steven Thompson</h4>
									<span> Visual Designer </span>
								</div>
							</a>
						</li>
						<li class="media">
							<a href="#">
								<img alt="..." src="assets/avatar-10.jpg" class="media-object">
								<div class="media-body">
									<h4 class="media-heading">Ella Patterson</h4>
									<span> Web Editor </span>
								</div>
							</a>
						</li>
						<li class="media">
							<a href="#">
								<img alt="..." src="assets/avatar-2.jpg" class="media-object">
								<div class="media-body">
									<h4 class="media-heading">Kenneth Ross</h4>
									<span> Senior Designer </span>
								</div>
							</a>
						</li>
						<li class="media">
							<a href="#">
								<img alt="..." src="assets/avatar-4.jpg" class="media-object">
								<div class="media-body">
									<h4 class="media-heading">Ella Patterson</h4>
									<span> Web Editor </span>
								</div>
							</a>
						</li>
						<li class="media">
							<a href="#">
								<img alt="..." src="assets/avatar-5.jpg" class="media-object">
								<div class="media-body">
									<h4 class="media-heading">Kenneth Ross</h4>
									<span> Senior Designer </span>
								</div>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</tab>
	<!-- end: TAB FAVORITES -->
	<!-- start: TAB GENERAL SETTING -->
	<tab>
		<tab-heading>
			<i class="ti-settings"></i>
		</tab-heading>
		<div class="tab-pane" id="settings">
			<div class="sidebar-content" perfect-scrollbar wheel-propagation="false" suppress-scroll-x="true">
				<h5 class="sidebar-title" translate="offsidebar.settings.MAIN">General Settings</h5>
				<ul class="media-list">
					<li class="media">
						<div class="padding-10">
							<switch ng-model="enable.notifications" ng-init="enable.notifications = true" class="green display-table-cell"></switch>
							<span class="display-table-cell vertical-align-middle padding-left-10" translate="offsidebar.settings.NOTIFICATIONS">Enable Notifications</span>
						</div>
					</li>
					<li class="media">
						<div class="padding-10">
							<switch ng-model="show.email" ng-init="show.email = false" class="green display-table-cell"></switch>
							<span class="display-table-cell vertical-align-middle padding-left-10" translate="offsidebar.settings.SHOWEMAIL">Show your E-mail</span>
						</div>
					</li>
					<li class="media">
						<div class="padding-10">
							<switch ng-model="show.users" ng-init="show.users = true" class="green display-table-cell"></switch>
							<span class="display-table-cell vertical-align-middle padding-left-10" translate="offsidebar.settings.SHOWUSERS">Show Offline Users</span>
						</div>
					</li>
					<li class="media">
						<div class="padding-10">
							<switch ng-model="email.alert" ng-init="email.alert = true" class="green display-table-cell"></switch>
							<span class="display-table-cell vertical-align-middle padding-left-10" translate="offsidebar.settings.EMAILALERT">E-mail Alerts</span>
						</div>
					</li>
					<li class="media">
						<div class="padding-10">
							<switch ng-model="sms.alert" ng-init="sms.alert = false" class="green display-table-cell"></switch>
							<span class="display-table-cell vertical-align-middle padding-left-10" translate="offsidebar.settings.SMSALERT">SMS Alerts</span>
						</div>
					</li>
				</ul>
				<div class="save-options">
					<button class="btn btn-success">
						<i class="icon-settings"></i><span translate="offsidebar.settings.SAVE">Save Changes</span>
					</button>
				</div>
			</div>
		</div>
	</tab>
	<!-- end: TAB GENERAL SETTING -->
</tabset>
<!-- end: OFF RIGHT SIDEBAR TABSET -->
