<!DOCTYPE html>
<html lang="en" data-ng-app="clipApp">
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
      <meta name="description" content="{{app.description}}">
      <meta name="keywords" content="app, responsive, angular, bootstrap, dashboard, admin">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
      <meta name="HandheldFriendly" content="true" />
      <meta name="apple-touch-fullscreen" content="yes" />
      <title data-ng-bind="pageTitle()">Clip-Two - Angular Bootstrap Admin Template</title>
      <!-- Google fonts -->
      <link href="http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" />

      <!-- Clip-Two Theme -->
      <%= stylesheet_link_tag    'application', media: 'all'%>
      <link rel="stylesheet" data-ng-href="/assets/themes/{{ app.layout.theme }}.css" />

      <%= csrf_meta_tags %>
    </head>
    <body ng-controller="AppCtrl">
      <%= yield %>
      <%= javascript_include_tag 'application' %>
      <!-- Google Apis -->
      <script src="//maps.googleapis.com/maps/api/js?v=3.exp&libraries=weather,visualization"></script>
    </body>
</html>
